{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Day View</title>
</head>

<body>
    <div class="outer relative shadow-lg bg-white rounded-md transition-all">
        <!-- Header -->
        <div class="flex">
            <div class="h-[60px] flex items-center justify-center w-full bg-white border-b border-gray-200">
                <div id="event-date-header" class="text-base text-gray-800 font-semibold p-2">
                    <!-- JS will fill this (e.g. August 19, 2025) -->
                </div>
            </div>
        </div>
        <div class="flex">
            <!-- Time column -->
            <div class="w-20 bg-white flex flex-col z-10">

                <!-- Show 12 AM at the very top -->
                <div class="h-[60px] text-right pr-2 text-xs text-gray-500 pt-1">12 AM</div>

                {% for i in time %}
                {% if i > 0 %}
                {% if i < 12 %} <div class="h-[60px] text-right pr-2 text-xs text-gray-500 pt-1">{{ i }} AM
            </div>
            {% elif i == 12 %}
            <div class="h-[60px] text-right pr-2 text-xs text-gray-500 pt-1">12 PM</div>
            {% else %}
            <div class="h-[60px] text-right pr-2 text-xs text-gray-500 pt-1">{{ i|add:"-12" }} PM</div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <div class="flex">
                <div class="h-[20px]" id="extraSpacebelow"></div>
            </div>
        </div>

        <!-- Day view column -->
        <div class="w-full">
            <!-- Time slots -->
            <div class="relative time" style="height: 1440px;">
                {% for i in time %}
                <div class="h-[60px] border-t border-dotted border-gray-300 relative"></div>
                {% endfor %}
                <!-- Extra border for after 11 PM -->
                <div class="h-[60px] border-t border-dotted border-gray-300"></div>
            </div>
        </div>

    </div>
    </div>


</body>

</html>