{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'app/calendar/calendar.js' %}"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>day</title>
</head>

<body>
    <div class="shadow-lg bg-white rounded-md flex flex-row transition-all">

        <div class="w-full min-h-screen p-2 time">
            {% for i in time %}
            {% if i >= 12 %}
            {% with perriod="PM" %}
            {% if i == 12 %}
            {% with hour=12 %}
            <div class="py-8 border-gray-400 flex items-center justify-center text-center w-auto m2">
                   <span class="whitespace-nowrap"> {{ hour }} {{ perriod }}</span>    
                <div class='w-full border-t border-gray-400 border-dotted p-2 m-2 '></div>
            </div>
            {% endwith %}
            {% else %}
            {% with hour=i|add:"-12" %}
            <div class="py-8 border-gray-400 flex items-center justify-center text-center w-full m-2">
                <span class="whitespace-nowrap"> {{ hour }} {{ perriod }}</span> 
                <div class='w-full border-t border-gray-400 border-dotted  p-2 m-2'></div>
            </div>
            {% endwith %}
            {% endif %}
            {% endwith %}
            {% else %}
            {% with perriod="AM" hour=i %}
            <div class="py-8 border-gray-400 flex items-center justify-center text-center w-full  m-2">
                <span class="whitespace-nowrap"> {{ hour }} {{ perriod }}</span> 
                <div class='w-full border-t border-gray-400 border-dotted p-2 m-2'></div>
            </div>
            {% endwith %}
            {% endif %}
            {% endfor %}

        </div>
        
    </div>
</body>

</html>